<configuration>
    <timestamp key="myTimestamp" datePattern="yyyy-MM-dd'_'HH-mm-ss.SSS"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/log.${myTimestamp}.txt</file>
        <append>true</append>
        <encoder>
            <pattern>%-5level [%d{HH:mm:ss.SSS}] [%thread] %logger{36} - %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n%throwable</pattern>
        </encoder>
    </appender>

    <logger name="pl.ksr.extractor" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="pl.ksr.reader" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>