<configuration>
    <timestamp key="myTimestamp" datePattern="yyyy-MM-dd'_'HH-mm-ss.SSS"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/log.${myTimestamp}.txt</file>
        <append>true</append>
        <encoder>
            <pattern>%-5level [%d{HH:mm:ss.SSS}] [%thread] %logger{36} - %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
